*{
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

a{
    text-decoration: none;
    color: aliceblue;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #365340;
    padding: 20px 40px;
}

.links {
    display: flex;
    gap: 30px;
    font-size: 17px;
    font-weight: 500;
}

.links a:hover{
    color: rgb(207, 191, 170);
    transition: all ease 1s;
}

.location{
    font-size: 17px;
    font-weight: bold;
    font-style: italic;
    color: aliceblue;
}

.logo{
    display: flex;
    align-items: center;
}

.logo img{
    height: 50px;
    width: 60px;
}

section{
    background-image: url("./images/pic.jfif");
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    padding: 200px 150px;
}

.txt{
    width: 450px;
    font-style: italic;
    font-weight: bold;
    text-transform: capitalize;
    color: #365340;
}

.txt h1{
    font-size: 50px;
}

.buttons{
    padding: 10px 0px;
}

.buttons button{
    padding: 15px 30px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
    font-weight: 500;
    font-variant: small-caps;
}

.btn{
    background-color: #d5b893;
    border: #d5b893;
    color: aliceblue;
}

.btn:hover{
    background-color: aliceblue;
    color: #d5b893;
    transition: all ease 1s;
}

.Secondary-btn{
    background-color: rgb(207, 191, 170);
    border: rgb(207, 191, 170);
    color: aliceblue;
}

.Secondary-btn:hover{
    background-color: aliceblue;
    color: rgb(207, 191, 170);
    transition: all ease 1s;
}

footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #365340;
    color: rgb(207, 191, 170);
    font-style:italic;
    font-weight: bold;
    text-transform: capitalize;
}

footer form{
    display: flex;
    flex-direction: column;
    padding: 20px 40px;
}

form input{
    padding: 10px 20px;
    width: 200px;
    border-radius: 6px;
    border: #365340;
    margin: 15px 0px;
}

form button{
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;
}

footer a{
    display: flex;
    flex-direction: column;
}

footer a img{
    height: 60px;
    width: 60px;
    border-radius: 10px;
}

footer img{
    height: 400px;
    width:400px;
    border-radius: 10px;
    margin: 20px;
}

.last p{
    font-size: 29px;
    padding-left: 30px;
}

.last{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}